*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}

.logo{
    padding: 10px;
    display: inline-block;
    margin: 0px 30px 15px 0;    
    border: 2px solid #bb0ba6;
}

.logo:hover{
    padding: 15px;
    transition: 300ms ease all;
}

.nav-menu{
    display: inline-block;
}

.nav-menu ul li{
    display: inline-block;
}

.main-bg{
    background-color: #e0e6e6;
}

.content{
    margin-top: 100px;
    max-width: 440px;
}

.content > h1{
    color: #2c2c2c;
    line-height: 1.25;
}

.content > p{
    margin: 15px 0;
}

